<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= link_to "Create a new character", 'characters/new' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Characters</h3>
      <%= render 'shared/character_feed' %>
    </div>
  </div>
<% else %>

<div class="center jumbotron">

  <h2>
    <i>Shadowrun</i> n. Any movement, action, or series of such made in carrying out plans which are illegal or quasilegal.<br />
    WorldWide WordWatch, 2050 update
  </h2>

</div>
<% end %>
