<h2>Defenses</h2>
<% @character.defenses.each do |defense| %>
  <div class="col-md-4">
    <strong><%= defense.def_type %></strong>:
  </div>
  <div class="col-md-4">
    <%= defense.value_normal %>
  </div>
  <% if can_edit %>
    <div class="col-md-4">
      <%= link_to 'Delete', [defense.character, defense],
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
  <br>
<% end %>
<p>
