<h2>Defenses</h2>

<% @character.defenses.each do |defense| %>
  <div class="row">
    <div class="col-md-6">
      <strong><%= defense.def_type %></strong>:
    </div>
    <div class="col-md-6">
      <%= defense.value_normal %>
    </div>
  </div>
<% end %>
