<% if current_user?(@character.user) %>
  <% provide(:title, "Edit character") %>
  <h1>Edit your character</h1>

  <div class="row">
    <div class="col-md-12">
      <%= render 'characters/character_form', is_new: false  %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <section class="character_form">
        <%= render 'char_attributes/show_char_attributes', can_edit: true %>
      </section>
    </div>
    <div class="col-md-6">
      <section class="character_form">
        <%= render 'active_skills/show_active_skills', can_edit: true %>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <section class="character_form">
        <%= render 'defenses/show_defenses', can_edit: true %>
      </section>
    </div>
    <div class="col-md-6">
    </div>
  </div>
<% end %>
