<% provide(:title, "View character") %>
<h1>View Character</h1>

<div class="row">
  <div class="col-md-12">
    <section class="character_form">
      <%= render 'show_character_details', can_edit: false %>
    </section>
  </div>

  <div class="col-md-4">
    <section class="character_form">
      <%= render 'char_attributes/show_char_attributes', can_edit: false %>
    </section>
  </div>

  <div class="col-md-4">
    <section class="character_form">
      <%= render 'active_skills/show_active_skills', can_edit: false %>
    </section>
  </div>

  <div class="col-md-4">
    <section class="character_form">
      <%= render 'defenses/show_defenses', can_edit: false %>
    </section>
  </div>
</div>
