<footer class="footer">
  <small>
    The <a href="http://localhost:3000/">ShadowGuild v0.1.5ɑ</a>
    by <a href="http://www.smashingboxes.com/">Michael Broadwater</a>
  </small>
  <nav>
    <ul>

    </ul>
  </nav>
</footer>
