<footer class="footer">
  <small>
    The <a href="http://localhost:3000/">ShadowGuild <%= Rails.application.secrets.version %></a>
    by <a href="http://www.smashingboxes.com/">Michael Broadwater</a>
  </small>
  <nav>
    <ul>

    </ul>
  </nav>
</footer>
